<div class= "intro"> <h1>Welcome to Timefly</h1> </div>
<p>
Timefly is a digital timebank and community, where users can come to exchange services.
Timefly uses hours as its currency. Users are credited hours when they perform services,
which  can be used to redeem other services.
</p>
<p>
Sign up, and recieve two hours for creating a new account. Post your services, and browse
other users and services.
</p>
