*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", sans-serif;
  font-size: 18px;
}
body {
  font-family: "HelveticaNeue-Light";
  text-align: center;
}
.site-container {
  width: 100%;
  margin: 0;
  padding: 0;
}

nav {
text-align: center;
height: 100px;
border-bottom: 1px solid #EEEDF2;
border-top: 1px solid gray;
padding-bottom: 10px;
padding-top: 10px;
background-color: #01ADDB;
}

.nav-link {
  text-decoration: none;
  color: white;
  padding: 5%;
  font-size: 30px;
  display: inline-block;
  font-family: 'Open Sans Condensed', sans-serif;
}
.welcome{
  color: white;
}

.nav-link:hover{
  text-shadow: 0 0 20px grey;
}
@media (min-width: 500px) {
    .site-content {
      width: 80%;
    }
}

@media (min-width: 1000px) {
    .site-content {
      width: 40%;
    }
}
.content {
  margin: 0 auto;
  margin-top: 10px;
  padding-top: 45px;
  padding-left: 70px;
  padding-right: 70px;
  /*background: -webkit-linear-gradient(white, #01ADDB);
  background: -o-linear-gradient(white, #01ADDB);
  background: -moz-linear-gradient(white, #01ADDB);
  background: linear-gradient(white, #01ADDB); */
}

h1{
  font-size: 40px;
}
p {
  color: gray;
  padding: 15px;
}

a {
  text-decoration: none;
  color: red;
}

.notice {
  color: red;
  font-size: 35px;
  font-weight: lighter;
}

.timebank {
  font-size: 50px;
  color: white;
  border: 1px #01ADDB;
ackgrou, nd: -webkit-linear-gradient(#01ADDB, white);
  background: -o-linear-gradient(#01ADDB, white);
  background: -moz-linear-gradient(#01ADDB, white);
  background: linear-gradient(#01ADDB, white);
}

.profile{
  height: 400px;
  width: 300px;
}
.circular {
  display:block;
  margin:auto;
  width: 100%;
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url('https://upload.wikimedia.org/wikipedia/en/2/2e/Pat-Morita_(Karate_Kid).jpg') no-repeat;
	}

  .new_service {
    margin: 0 auto;
    width: 50%;
  }

  form{
    display: block;

  }
  input {
    width: 500px;
    height: 25px;
    margin-bottom: 5px;
    display: block;
    margin: 0 auto;
    width: 50%;
  }
  textarea {
    margin: 0px;
    height: 400px;
    width: 500px;
    display: block;
    margin: 0 auto;
    width: 50%;
  }
  input[type=submit]{
    background-color: #01ADDB;
    background-position: center;
    color: white;
    height: 35px;
    display: block;
    margin: 0 auto;
    width: 50%;
}
li {
  list-style-type:none
}
